.comment-name {
  color: #3b3b3b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.comment-text {
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.comment-time {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
