.pagination {
  margin: 32px 0px;
  width: 100%;
}
.input-group {
  margin-left: 25%;
}
.input-page {
  padding: 8px 12px !important;
  max-width: 77px;
}
.ant-pagination .ant-pagination-item-active {
  font-weight: 600;
  background-color: #8e4ec6 !important;
  border-color: #8e4ec6 !important;
  color: #fefcfe !important;
}
.ant-pagination .ant-pagination-item-active a {
  color: #fefcfe !important;
}
.ant-pagination-prev a:hover,
.ant-pagination-prev a:focus,
.ant-pagination-prev a:active,
.ant-pagination-next a:hover,
.ant-pagination-next a:focus,
.ant-pagination-next a:active {
  color: #8e4ec6;
}
.custom-pagination-item {
  color: #8e4ec6;
}
.ant-pagination {
  .ant-pagination-options {
    display: none;
  }
  .ant-pagination-item {
    height: auto;
    margin-inline-end: 4px;
    padding: 12px 18px;
    border-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  .ant-pagination-item a {
    padding: 0;
  }
  .ant-pagination-item-active {
    padding: 12px 18px;
    border-color: transparent;
    line-height: normal;
  }
  .ant-pagination-item-active a {
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  .ant-pagination-prev,
  .ant-pagination-jump-prev {
    margin-inline-end: 12px;
  }
  .ant-pagination-jump-next,
  .ant-pagination-next {
    margin-inline-start: 8px;
  }
  .ant-pagination-prev,
  .ant-pagination-next {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
}
.next,
.prev {
  display: flex;
  gap: 8px;
}

.pagination-page {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 237px;
}
.pagination-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
