.btn-create-form {
  padding: 12px 98px;
  width: 50%;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.ant-modal-close {
  display: none;
}
.ant-modal-content {
  width: 594px !important;
  padding: 40px 40px 28px 40px !important;
}
.btn-upload {
  padding: 12px 16px;
  color: #8e4ec6;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.name-group {
  width: 100%;
}
.ant-input {
  padding: 12px;
}
.text-popup {
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.w-100 {
  width: 100%;
}
.img-popup {
  max-width: 48px;
}
.number-input {
  color: #8f8f8f;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.group-btn{
  margin-top:32px
}
.title-delete {
  color: #3b3b3b;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.description-delete {
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: center;
}
.bg-pupple{
  background-color: #8E4EC6;
  color: #FEFCFE;
}
.bg-red{
  background-color: #E5484D;
  color: #FEFCFE;
}
