.input-image {
  display: none;
}
.text-image {
  display: flex;
  justify-content: center;
  align-content: center;
}
.gorup-image-icon {
  position: relative;
  display: inline-block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 23, 0.70);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease; 
}
.overlay button {
  background-color: transparent;
  color: #fcfcfc;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.gorup-image-icon:hover .overlay {
  opacity: 1;
}
.btn-icon-close {
  position: absolute;
  top: -10px;
  right: -10px;
}
.img-popup {
  min-width: 92px;
}
.ant-message {
  .ant-message-notice-wrapper {
    .ant-message-notice-content {
      border-radius: 4px;
      padding: 12px 24px;
      color: #fbfefc;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
    }
  }
}
.error-message .ant-message-notice-content {
  background: #e5484d !important;
}
.btn-mobile{
  display: none;
}
.img-circle-question{
  display: none;
}
